# Project exclude paths
/cmake-build-debug/
/cmake-build-release/
/CMakeFiles/
*.nes
/venv/
/.vs/
/out/
/SDL2/
/Debug/
/Linking/
/Nesulator3.1/
*.sln
*.dll
*.json

CMakeCache.txt
cmake_install.cmake
Makefile
Nesulator

